@import url(https://fonts.googleapis.com/css?family=Lora);
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css";

.end-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". squigglyv3 ."
    ". astronaut-development ."
    ". development-team ."
    "mack astronaut-professional richard"
    ". . .";
  height: 150vh;
}

.squigglyv3 {
  grid-area: squigglyv3;
}

.astronaut-development {
  margin-top: -30vh;
  justify-self: center;
  align-self: center;
  grid-area: astronaut-development;
}

#astronaut-development {
  height: 200px;
}

.development-team {
  justify-self: center;
  grid-area: development-team;
  padding-bottom: 10vh;
}

.mack {
  justify-self: end;
  grid-area: mack;
  margin-right: -10vh;
}

.richard {
  justify-self: start;
  grid-area: richard;
  margin-left: -10vh;
}



.astronaut-professional {
  justify-self: center;
  align-self: center;
  grid-area: astronaut-professional;
}

#astronaut-professional {
  height: 200px;
}

.profile-card {
  /* background: #FFB300;
    width: 560px;
    height: 560px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    overflow: hidden;
    opacity: 0;
    margin-top: 70px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23); */
  width: 260px;
  height: 360px;
  border: solid;
  border-width: thin;
  position: absolute;
  box-shadow: 12px 18px 5px 0px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: 12px 18px 5px 0px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 12px 18px 5px 0px rgba(0, 0, 0, 0.42);
  margin-top: 20px;
}

.profile {
  width: 100%;
  padding: 5% 0px;
  
}
a,
a:hover {
  text-decoration: none;
}
.item {
  margin: 0px auto;
  border:solid thin;
  box-shadow: 12px 18px 5px 0px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: 12px 18px 5px 0px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 12px 18px 5px 0px rgba(0, 0, 0, 0.42);
}
h2,
h3,
h4,
h5 {
  margin: 0px;
}

/* ---- UI Style ----- */
.item {
  background-color: #fff;
  width: 340px;
  font-family: var(--ff-love);
}
.item .image {
  overflow: hidden;
}
.item .image img {
  width: 100%;
}

.item .text {
  padding: 2em;
  text-align: center;
}
.item .text figcaption {
  position: relative;
  z-index: 1;
}
.item .text a {
  color: rgba(0, 0, 0, 0.7);
}
.item .text p {
  color: rgba(0, 0, 0, 0.863);
  line-height: 22px;
  font-weight: 300;
  font-size: 14px;
}
.item .text .fa {
  font-size: 18px;
  width: 15px;
  height: 15px;
  padding: 13px;
  border: solid 1px rgba(0, 0, 0, 0.8);
  border-radius: 50%;
}

/* ---- Responsive Code ---- */
@media (max-width: 768px) {
  .item {
    width: 100%;
  }
}
