@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap");

.App {
  text-align: center;
}

#pencil-sticky {
  height: 150px;
  position: fixed;
  top: 80vh;
  right: 1vw;
  z-index: 3;
}

#pencil-sticky:hover {
  cursor: pointer;
}

.speech-bubble {
  position: fixed;
  top: 79vh;
  right: 1vw;
  z-index: 3;
}





@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}

/* ------------------- */
/*   Utility Classes   */
/* ------------------- */

.square-grid {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoBAMAAAB+0KVeAAAAHlBMVEUAAABkZGRkZGRkZGRkZGRkZGRkZGRkZGRkZGRkZGSH0mEbAAAACnRSTlMAzDPDPPPYnGMw2CgMzQAAAChJREFUKM9jgAPOAgZMwGIwKkhXQSUY0BCCMxkEYUAsEM4cjI4fwYIAf2QMNbUsZjcAAAAASUVORK5CYII=");
  /* background-size: 30px; */
  // width: 100vw;
  background-repeat: repeat;
}

/* ---------------------- */
/*   Custom Properties    */
/* ---------------------- */

:root {
  /* font-families */
  --ff-love: "Love Ya Like A Sister", cursive;
}
